# Canonical names for contributors, see 'git help shortlog' for details

Jose E. Roman <jroman@dsic.upv.es>
Carmen Campos <mccampos@dsic.upv.es>
Eloy Romero <eloy@cs.wm.edu>
Eloy Romero <elroal@upvnet.upv.es>
Andres Tomas <antodo@upvnet.upv.es>
