# Canonical names for contributors, see 'git help shortlog' for details

Jose E. Roman <jroman@dsic.upv.es>
Jose E. Roman <jroman@dsic.upv.es> <jroman@imac-jroman.local>
Jose E. Roman <jroman@dsic.upv.es> Unknown <jroman@neftis.dsic.upv.es>
Jose E. Roman <jroman@dsic.upv.es> Unknown <jroman@jepri.dsic.upv.es>
Jose E. Roman <jroman@dsic.upv.es> Unknown <jroman@nut.dsic.upv.es.dsic.upv.es>
Carmen Campos <carmen.campos-gonzalez@uv.es> <mccampos@dsic.upv.es>
Eloy Romero <eloy@cs.wm.edu> <elroal@upvnet.upv.es>
Eloy Romero <eloy@cs.wm.edu> <elroal@upv.es>
Andres Tomas <antodo@upvnet.upv.es>
Lisandro Dalcin <dalcinl@gmail.com>
Pierre Jolivet <pierre@joliv.et> <pierre.jolivet@enseeiht.fr>
Pierre Jolivet <pierre@joliv.et> prj-
Pierre Jolivet <pierre@joliv.et> prj- <pierre.jolivet@enseeiht.fr>
