include makefile
recursive-include config *.py

recursive-include bin/matlab *
recursive-include conf *
recursive-include include *
recursive-include src *

exclude conf/slepcvariables
recursive-exclude config/pypi *
recursive-exclude src *.html 
recursive-exclude src/docs *
recursive-exclude src/*/examples/* *.*
