include makefile
include config/makefile
recursive-include config *.py *.c

recursive-include bin/matlab *
recursive-include conf *
recursive-include include *
recursive-include src *
recursive-exclude src/docs *

exclude conf/slepcvariables
recursive-exclude src/*/examples/* *.*

recursive-exclude include *.o
recursive-exclude src *.o
