build
docs/*.html
docs/*.info
docs/*.pdf
docs/*.[137]
docs/apiref
docs/usrman
dist
MANIFEST
__pycache__
*.pyc
*.pyo
.tox

*.egg
.eggs/
src/slepc4py.egg-info
src/slepc4py/SLEPc.c
src/slepc4py/SLEPc*.h
src/slepc4py/lib/*/SLEPc.*.so
