include setup*.py *.toml *.cfg *.rst

recursive-include demo [M,m]akefile* *.py
recursive-include conf *.py *.sh *.cfg
recursive-include src  *.py *.pyx *.px[di] *.h *.c *.i *.cfg
recursive-include test *.py
recursive-include *    [M,m]akefile

exclude src/slepc4py/SLEPc.c
exclude src/slepc4py/SLEPc.h
exclude src/slepc4py/SLEPc_api.h

include docs/*.html
include docs/*.pdf
include docs/*.info
include docs/*.[137]
include docs/*.rst
include docs/*.bib
graft   docs/usrman
graft   docs/apiref
graft   docs/source
prune   docs/source/_build
